boltons
brotlipy==0.7.0
certifi 
cffi 
charset-normalizer
cryptography
idna
jsonpatch
jsonpointer==2.1
libmambapy
packaging
pluggy
pycosat
pycparser
pyOpenSSL
PySocks
requests
ruamel.yaml
six
toolz
tqdm
urllib3
zstandard
